@charset "UTF-8";
input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #3A9AD9;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2071a6;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 15px; }

input,
label,
select {
  display: block;
  font-family: "futura-pt", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  padding: 10px;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #3A9AD9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(40, 142, 209, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 7.5px; }

input[type="file"] {
  padding-bottom: 15px;
  width: 100%; }

select {
  margin-bottom: 0;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  padding: 0; }
dl {
  margin-bottom: 15px; }
  dl dt {
    font-weight: bold;
    margin-top: 15px; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 15px 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 15px 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 15px 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  line-height: 1.1; }

a {
  color: #3A9AD9;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2071a6; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 30px 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation a {
    text-decoration: none; }
  header.navigation .navigation-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px;
    padding-left: 0.5em;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .sign-up {
    background-color: #477DCA;
    border-radius: 3px;
    border: none;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    display: inline;
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
    padding: 0.75em 1em;
    text-transform: uppercase; }
    header.navigation .sign-up:hover:not(:disabled) {
      background-color: #578ad4;
      cursor: pointer; }
    header.navigation .sign-up:active:not(:disabled), header.navigation .sign-up:focus:not(:disabled) {
      background-color: #3c71bb;
      cursor: pointer; }
    header.navigation .sign-up:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.6em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #404040;
        border-radius: 6px;
        border: 1px solid #262626;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background-color: #404040;
        border-radius: 3px;
        border: none;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        padding: 7px 18px;
        text-decoration: none;
        background-clip: padding-box;
        background-color: #404040;
        border-radius: 3px;
        border: none;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        padding: 7px 18px;
        text-decoration: none;
        background-clip: padding-box;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit]:hover:not(:disabled) {
          background-color: #4d4d4d;
          cursor: pointer; }
        header.navigation .search-bar form button[type=submit]:active:not(:disabled), header.navigation .search-bar form button[type=submit]:focus:not(:disabled) {
          background-color: #333333;
          cursor: pointer; }
        header.navigation .search-bar form button[type=submit]:hover:not(:disabled) {
          background-color: #504949;
          cursor: pointer; }
        header.navigation .search-bar form button[type=submit]:active:not(:disabled), header.navigation .search-bar form button[type=submit]:focus:not(:disabled) {
          background-color: #333333;
          cursor: pointer; }
        header.navigation .search-bar form button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

* {
  margin-top: 0;
  margin-bottom: 0; }

* + * {
  margin-top: 30px; }

@media screen and (min-width: 40em) {
  .first {
    margin-top: 30px; } }

@media screen and (min-width: 40em) {
  .last {
    margin-top: 0; } }

.compact * + * {
  margin-top: 15px; }

body {
  margin: 0; }

div.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  div.container::after {
    clear: both;
    content: "";
    display: table; }

div.content {
  padding-top: 30px;
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 100%; }
  div.content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    div.content {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%; }
      div.content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    div.content {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 87.05267%; }
      div.content:last-child {
        margin-right: 0; } }

[class^="slab"] {
  margin-top: 60px;
  padding-bottom: 30px; }

.slab-gray {
  background-color: #595959; }

div.opener {
  margin-top: 0;
  background: url("../images/girl2.jpg") no-repeat;
  background-position: right top;
  background-size: cover; }
  @media screen and (min-width: 40em) {
    div.opener {
      min-height: 90vh; } }

div.opener div.content {
  padding-top: 30px;
  padding-bottom: 60px; }

@media screen and (min-width: 40em) {
  div.action {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    div.action:last-child {
      margin-right: 0; } }

div.action + div.action {
  margin-top: 0; }
  @media screen and (min-width: 40em) {
    div.action + div.action {
      margin-top: 30px; } }

@media screen and (min-width: 40em) {
  div.half {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    div.half:last-child {
      margin-right: 0; } }

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em; }
  @media screen and (min-width: 40em) {
    h1, h2, h3, h4, h5, h6, p {
      font-size: 1.2em; } }

h1 {
  font-size: 1.5em;
  line-height: 1.6; }
  @media screen and (min-width: 40em) {
    h1 {
      font-size: 2em;
      line-height: 1.6; } }

.callout {
  color: #3A9AD9;
  text-shadow: none; }

.callout.underline {
  border-bottom: 1px solid #8FD4D9;
  font-weight: bold; }

.overline {
  font-weight: 800;
  color: #EB7260;
  font-family: "abril-text", sans-serif;
  font-weight: 700;
  font-style: italic; }

.reverse {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }
  .reverse button {
    text-shadow: none; }
  .reverse .callout {
    color: yellow; }
  .reverse .callout.underline {
    border-color: yellow; }

*.hidden-small {
  display: none; }
  @media screen and (min-width: 40em) {
    *.hidden-small {
      display: inherit; } }

span.hidden-small {
  display: none; }
  @media screen and (min-width: 40em) {
    span.hidden-small {
      display: inline; } }

.hidden-small + * {
  margin-top: 15px; }
  @media screen and (min-width: 40em) {
    .hidden-small + * {
      margin-top: inherit; } }

.note {
  margin-top: 0.4em;
  color: #999; }
  @media screen and (min-width: 40em) {
    .note {
      font-size: 1em; } }

form ul.form-fields li + li {
  margin-top: 30px; }

fieldset {
  padding: 15px; }
  @media screen and (min-width: 40em) {
    fieldset {
      padding: 30px; } }

div.opener h1 {
  font-size: 1.5em;
  line-height: 1.1; }
  @media screen and (min-width: 40em) {
    div.opener h1 {
      font-size: 3.5em;
      letter-spacing: -1px; } }
  @media screen and (min-width: 70em) {
    div.opener h1 {
      font-size: 4.8em;
      letter-spacing: -1px; } }
  div.opener h1 + h1 {
    margin-top: 15px; }

header {
  position: relative;
  min-height: 2em;
  margin-bottom: 30px;
  opacity: 1;
  text-shadow: none; }

header a.logo {
  position: absolute;
  left: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1em;
  line-height: 1;
  color: white; }

header a.logo .city {
  font-size: 1em;
  font-weight: 800; }

header a.logo:before {
  content: "";
  position: absolute;
  left: -2em;
  top: 0.1em;
  width: 1.7em;
  height: 2em;
  background-image: url("../images/logo/dwlogo-white.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: visible; }

footer.reverse {
  margin-top: 0;
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 0.8em;
  text-shadow: none; }

@media screen and (min-width: 40em) {
  footer .legal {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    footer .legal:last-child {
      margin-right: 0; } }

@media screen and (min-width: 40em) {
  footer .links {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    footer .links:last-child {
      margin-right: 0; } }
footer .links a {
  color: white;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 2px; }
  footer .links a:hover {
    border-color: white; }
footer .links ul li + li {
  margin-top: 10px; }

div.stat .number {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  font-size: 3.5em;
  font-weight: 800; }
  div.stat .number:last-child {
    margin-right: 0; }
  div.stat .number::after {
    clear: both;
    content: "";
    display: table; }
div.stat h2 {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 74.10533%; }
  div.stat h2:last-child {
    margin-right: 0; }
  div.stat h2::after {
    clear: both;
    content: "";
    display: table; }

div.details ul li div.number {
  background-color: #3A9AD9;
  width: 30px;
  height: 30px;
  border-radius: 50%; }
  @media screen and (min-width: 40em) {
    div.details ul li div.number {
      vertical-align: top;
      margin-top: 19.5px;
      margin-right: 10px;
      display: inline-block; } }
  div.details ul li div.number p {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 1em;
    margin-top: 0.2em; }
@media screen and (min-width: 40em) {
  div.details ul li div.words {
    width: calc(100% - 54px);
    display: inline-block; } }

@media screen and (min-width: 40em) {
  fieldset.donate div.details {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%; }
    fieldset.donate div.details:last-child {
      margin-right: 0; } }
@media screen and (min-width: 40em) {
  fieldset.donate div.fields {
    margin-top: 0;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%; }
    fieldset.donate div.fields:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=app.css.map */
