
@import '../../../bower_components/neat/app/assets/stylesheets/neat-helpers';

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 90%;

// $visual-grid: true;
// $visual-grid-color: yellow;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.5;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);
$xlarge-screen: em(1120);

$medium-up: new-breakpoint(min-width $medium-screen 8);
$large-up: new-breakpoint(min-width $large-screen 8);
$xlarge-up: new-breakpoint(min-width $xlarge-screen 8);